/*
 * Style sheet for the HTML 4.0 specification
 * $Id: default.css,v 1.12 1997/12/12 18:46:53 ijacobs Exp $
 *
 * used for MView from Nigel Brown
 *
 */

TD{font-family:Courier,monospace;background-color:#FFFFFF;color:#222222;}
FONT.DC1-42-S{background-color:#666666;color:#FFFFFF}
FONT.DC1-42-T{color:#666666}
FONT.DC1-114-S{background-color:#6600cc;color:#FFFFFF}
FONT.DC1-114-T{color:#6600cc}
FONT.DC1-121-S{background-color:#ff3333;color:#000000}
FONT.DC1-121-T{color:#ff3333}
FONT.POLAR2-42-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR2-42-T{color:#666666}
FONT.POLAR2-63-S{background-color:#999999;color:#000000}
FONT.POLAR2-63-T{color:#999999}
FONT.POLAR2-66-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-66-T{color:#6600cc}
FONT.POLAR2-67-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-67-T{color:#6600cc}
FONT.POLAR2-68-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR2-68-T{color:#0033ff}
FONT.POLAR2-69-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR2-69-T{color:#0033ff}
FONT.POLAR2-72-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-72-T{color:#6600cc}
FONT.POLAR2-75-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR2-75-T{color:#cc0000}
FONT.POLAR2-78-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-78-T{color:#6600cc}
FONT.POLAR2-81-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-81-T{color:#6600cc}
FONT.POLAR2-82-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR2-82-T{color:#cc0000}
FONT.POLAR2-83-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-83-T{color:#6600cc}
FONT.POLAR2-84-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-84-T{color:#6600cc}
FONT.POLAR2-87-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-87-T{color:#6600cc}
FONT.POLAR2-88-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR2-88-T{color:#666666}
FONT.POLAR2-89-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-89-T{color:#6600cc}
FONT.POLAR2-90-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-90-T{color:#6600cc}
FONT.POLAR2-98-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-98-T{color:#6600cc}
FONT.POLAR2-99-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-99-T{color:#6600cc}
FONT.POLAR2-100-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR2-100-T{color:#0033ff}
FONT.POLAR2-101-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR2-101-T{color:#0033ff}
FONT.POLAR2-104-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-104-T{color:#6600cc}
FONT.POLAR2-107-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR2-107-T{color:#cc0000}
FONT.POLAR2-110-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-110-T{color:#6600cc}
FONT.POLAR2-113-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-113-T{color:#6600cc}
FONT.POLAR2-114-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR2-114-T{color:#cc0000}
FONT.POLAR2-115-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-115-T{color:#6600cc}
FONT.POLAR2-116-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-116-T{color:#6600cc}
FONT.POLAR2-119-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-119-T{color:#6600cc}
FONT.POLAR2-120-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR2-120-T{color:#666666}
FONT.POLAR2-121-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-121-T{color:#6600cc}
FONT.POLAR2-122-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR2-122-T{color:#6600cc}
FONT.C0-S{background-color:#33cc00;color:#000000}
FONT.C0-T{color:#33cc00}
FONT.C1-S{background-color:#009900;color:#FFFFFF}
FONT.C1-T{color:#009900}
FONT.C2-S{background-color:#ffff00;color:#000000}
FONT.C2-T{color:#ffff00}
FONT.C3-S{background-color:#cc0000;color:#FFFFFF}
FONT.C3-T{color:#cc0000}
FONT.C4-S{background-color:#0033ff;color:#FFFFFF}
FONT.C4-T{color:#0033ff}
FONT.C5-S{background-color:#6600cc;color:#FFFFFF}
FONT.C5-T{color:#6600cc}
FONT.C6-S{background-color:#0099ff;color:#FFFFFF}
FONT.C6-T{color:#0099ff}
FONT.C7-S{background-color:#666666;color:#FFFFFF}
FONT.C7-T{color:#666666}
FONT.C8-S{background-color:#999999;color:#000000}
FONT.C8-T{color:#999999}
FONT.C9-S{background-color:#cc6600;color:#FFFFFF}
FONT.C9-T{color:#cc6600}
FONT.C10-S{background-color:#33cccc;color:#000000}
FONT.C10-T{color:#33cccc}
FONT.C11-S{background-color:#00ffcc;color:#FFFFFF}
FONT.C11-T{color:#00ffcc}
FONT.C12-S{background-color:#00ffff;color:#FFFFFF}
FONT.C12-T{color:#00ffff}
FONT.C13-S{background-color:#ff3333;color:#000000}
FONT.C13-T{color:#ff3333}
FONT.P1-42-S{background-color:#666666;color:#FFFFFF}
FONT.P1-42-T{color:#666666}
FONT.P1-63-S{background-color:#999999;color:#000000}
FONT.P1-63-T{color:#999999}
FONT.P1-65-S{background-color:#33cc00;color:#000000}
FONT.P1-65-T{color:#33cc00}
FONT.P1-66-S{background-color:#666666;color:#FFFFFF}
FONT.P1-66-T{color:#666666}
FONT.P1-67-S{background-color:#ffff00;color:#000000}
FONT.P1-67-T{color:#ffff00}
FONT.P1-68-S{background-color:#0033ff;color:#FFFFFF}
FONT.P1-68-T{color:#0033ff}
FONT.P1-69-S{background-color:#0033ff;color:#FFFFFF}
FONT.P1-69-T{color:#0033ff}
FONT.P1-70-S{background-color:#009900;color:#FFFFFF}
FONT.P1-70-T{color:#009900}
FONT.P1-71-S{background-color:#33cc00;color:#000000}
FONT.P1-71-T{color:#33cc00}
FONT.P1-72-S{background-color:#009900;color:#FFFFFF}
FONT.P1-72-T{color:#009900}
FONT.P1-73-S{background-color:#33cc00;color:#000000}
FONT.P1-73-T{color:#33cc00}
FONT.P1-75-S{background-color:#cc0000;color:#FFFFFF}
FONT.P1-75-T{color:#cc0000}
FONT.P1-76-S{background-color:#33cc00;color:#000000}
FONT.P1-76-T{color:#33cc00}
FONT.P1-77-S{background-color:#33cc00;color:#000000}
FONT.P1-77-T{color:#33cc00}
FONT.P1-78-S{background-color:#6600cc;color:#FFFFFF}
FONT.P1-78-T{color:#6600cc}
FONT.P1-80-S{background-color:#33cc00;color:#000000}
FONT.P1-80-T{color:#33cc00}
FONT.P1-81-S{background-color:#6600cc;color:#FFFFFF}
FONT.P1-81-T{color:#6600cc}
FONT.P1-82-S{background-color:#cc0000;color:#FFFFFF}
FONT.P1-82-T{color:#cc0000}
FONT.P1-83-S{background-color:#0099ff;color:#FFFFFF}
FONT.P1-83-T{color:#0099ff}
FONT.P1-84-S{background-color:#0099ff;color:#FFFFFF}
FONT.P1-84-T{color:#0099ff}
FONT.P1-86-S{background-color:#33cc00;color:#000000}
FONT.P1-86-T{color:#33cc00}
FONT.P1-87-S{background-color:#009900;color:#FFFFFF}
FONT.P1-87-T{color:#009900}
FONT.P1-88-S{background-color:#666666;color:#FFFFFF}
FONT.P1-88-T{color:#666666}
FONT.P1-89-S{background-color:#009900;color:#FFFFFF}
FONT.P1-89-T{color:#009900}
FONT.P1-90-S{background-color:#666666;color:#FFFFFF}
FONT.P1-90-T{color:#666666}
FONT.P1-97-S{background-color:#33cc00;color:#000000}
FONT.P1-97-T{color:#33cc00}
FONT.P1-98-S{background-color:#666666;color:#FFFFFF}
FONT.P1-98-T{color:#666666}
FONT.P1-99-S{background-color:#ffff00;color:#000000}
FONT.P1-99-T{color:#ffff00}
FONT.P1-100-S{background-color:#0033ff;color:#FFFFFF}
FONT.P1-100-T{color:#0033ff}
FONT.P1-101-S{background-color:#0033ff;color:#FFFFFF}
FONT.P1-101-T{color:#0033ff}
FONT.P1-102-S{background-color:#009900;color:#FFFFFF}
FONT.P1-102-T{color:#009900}
FONT.P1-103-S{background-color:#33cc00;color:#000000}
FONT.P1-103-T{color:#33cc00}
FONT.P1-104-S{background-color:#009900;color:#FFFFFF}
FONT.P1-104-T{color:#009900}
FONT.P1-105-S{background-color:#33cc00;color:#000000}
FONT.P1-105-T{color:#33cc00}
FONT.P1-107-S{background-color:#cc0000;color:#FFFFFF}
FONT.P1-107-T{color:#cc0000}
FONT.P1-108-S{background-color:#33cc00;color:#000000}
FONT.P1-108-T{color:#33cc00}
FONT.P1-109-S{background-color:#33cc00;color:#000000}
FONT.P1-109-T{color:#33cc00}
FONT.P1-110-S{background-color:#6600cc;color:#FFFFFF}
FONT.P1-110-T{color:#6600cc}
FONT.P1-112-S{background-color:#33cc00;color:#000000}
FONT.P1-112-T{color:#33cc00}
FONT.P1-113-S{background-color:#6600cc;color:#FFFFFF}
FONT.P1-113-T{color:#6600cc}
FONT.P1-114-S{background-color:#cc0000;color:#FFFFFF}
FONT.P1-114-T{color:#cc0000}
FONT.P1-115-S{background-color:#0099ff;color:#FFFFFF}
FONT.P1-115-T{color:#0099ff}
FONT.P1-116-S{background-color:#0099ff;color:#FFFFFF}
FONT.P1-116-T{color:#0099ff}
FONT.P1-118-S{background-color:#33cc00;color:#000000}
FONT.P1-118-T{color:#33cc00}
FONT.P1-119-S{background-color:#009900;color:#FFFFFF}
FONT.P1-119-T{color:#009900}
FONT.P1-120-S{background-color:#666666;color:#FFFFFF}
FONT.P1-120-T{color:#666666}
FONT.P1-121-S{background-color:#009900;color:#FFFFFF}
FONT.P1-121-T{color:#009900}
FONT.P1-122-S{background-color:#666666;color:#FFFFFF}
FONT.P1-122-T{color:#666666}
FONT.CHARGE-42-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-42-T{color:#666666}
FONT.CHARGE-63-S{background-color:#999999;color:#000000}
FONT.CHARGE-63-T{color:#999999}
FONT.CHARGE-66-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-66-T{color:#666666}
FONT.CHARGE-68-S{background-color:#0033ff;color:#FFFFFF}
FONT.CHARGE-68-T{color:#0033ff}
FONT.CHARGE-69-S{background-color:#0033ff;color:#FFFFFF}
FONT.CHARGE-69-T{color:#0033ff}
FONT.CHARGE-75-S{background-color:#cc0000;color:#FFFFFF}
FONT.CHARGE-75-T{color:#cc0000}
FONT.CHARGE-82-S{background-color:#cc0000;color:#FFFFFF}
FONT.CHARGE-82-T{color:#cc0000}
FONT.CHARGE-88-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-88-T{color:#666666}
FONT.CHARGE-90-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-90-T{color:#666666}
FONT.CHARGE-98-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-98-T{color:#666666}
FONT.CHARGE-100-S{background-color:#0033ff;color:#FFFFFF}
FONT.CHARGE-100-T{color:#0033ff}
FONT.CHARGE-101-S{background-color:#0033ff;color:#FFFFFF}
FONT.CHARGE-101-T{color:#0033ff}
FONT.CHARGE-107-S{background-color:#cc0000;color:#FFFFFF}
FONT.CHARGE-107-T{color:#cc0000}
FONT.CHARGE-114-S{background-color:#cc0000;color:#FFFFFF}
FONT.CHARGE-114-T{color:#cc0000}
FONT.CHARGE-120-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-120-T{color:#666666}
FONT.CHARGE-122-S{background-color:#666666;color:#FFFFFF}
FONT.CHARGE-122-T{color:#666666}
FONT.PC1-42-S{background-color:#666666;color:#FFFFFF}
FONT.PC1-42-T{color:#666666}
FONT.PC1-43-S{background-color:#cc0000;color:#FFFFFF}
FONT.PC1-43-T{color:#cc0000}
FONT.PC1-45-S{background-color:#0033ff;color:#FFFFFF}
FONT.PC1-45-T{color:#0033ff}
FONT.PC1-97-S{background-color:#009900;color:#FFFFFF}
FONT.PC1-97-T{color:#009900}
FONT.PC1-99-S{background-color:#6600cc;color:#FFFFFF}
FONT.PC1-99-T{color:#6600cc}
FONT.PC1-104-S{background-color:#33cc00;color:#000000}
FONT.PC1-104-T{color:#33cc00}
FONT.PC1-108-S{background-color:#33cc00;color:#000000}
FONT.PC1-108-T{color:#33cc00}
FONT.PC1-111-S{background-color:#0099ff;color:#FFFFFF}
FONT.PC1-111-T{color:#0099ff}
FONT.PC1-112-S{background-color:#0099ff;color:#FFFFFF}
FONT.PC1-112-T{color:#0099ff}
FONT.PC1-115-S{background-color:#33cc00;color:#000000}
FONT.PC1-115-T{color:#33cc00}
FONT.PC1-116-S{background-color:#33cc00;color:#000000}
FONT.PC1-116-T{color:#33cc00}
FONT.PC1-117-S{background-color:#33cc00;color:#000000}
FONT.PC1-117-T{color:#33cc00}
FONT.D1-42-S{background-color:#666666;color:#FFFFFF}
FONT.D1-42-T{color:#666666}
FONT.D1-63-S{background-color:#999999;color:#000000}
FONT.D1-63-T{color:#999999}
FONT.D1-65-S{background-color:#0033ff;color:#FFFFFF}
FONT.D1-65-T{color:#0033ff}
FONT.D1-66-S{background-color:#666666;color:#FFFFFF}
FONT.D1-66-T{color:#666666}
FONT.D1-67-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-67-T{color:#0099ff}
FONT.D1-68-S{background-color:#666666;color:#FFFFFF}
FONT.D1-68-T{color:#666666}
FONT.D1-71-S{background-color:#0033ff;color:#FFFFFF}
FONT.D1-71-T{color:#0033ff}
FONT.D1-72-S{background-color:#666666;color:#FFFFFF}
FONT.D1-72-T{color:#666666}
FONT.D1-75-S{background-color:#666666;color:#FFFFFF}
FONT.D1-75-T{color:#666666}
FONT.D1-77-S{background-color:#666666;color:#FFFFFF}
FONT.D1-77-T{color:#666666}
FONT.D1-78-S{background-color:#666666;color:#FFFFFF}
FONT.D1-78-T{color:#666666}
FONT.D1-82-S{background-color:#666666;color:#FFFFFF}
FONT.D1-82-T{color:#666666}
FONT.D1-83-S{background-color:#666666;color:#FFFFFF}
FONT.D1-83-T{color:#666666}
FONT.D1-84-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-84-T{color:#0099ff}
FONT.D1-85-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-85-T{color:#0099ff}
FONT.D1-86-S{background-color:#666666;color:#FFFFFF}
FONT.D1-86-T{color:#666666}
FONT.D1-87-S{background-color:#666666;color:#FFFFFF}
FONT.D1-87-T{color:#666666}
FONT.D1-88-S{background-color:#666666;color:#FFFFFF}
FONT.D1-88-T{color:#666666}
FONT.D1-89-S{background-color:#666666;color:#FFFFFF}
FONT.D1-89-T{color:#666666}
FONT.D1-97-S{background-color:#0033ff;color:#FFFFFF}
FONT.D1-97-T{color:#0033ff}
FONT.D1-98-S{background-color:#666666;color:#FFFFFF}
FONT.D1-98-T{color:#666666}
FONT.D1-99-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-99-T{color:#0099ff}
FONT.D1-100-S{background-color:#666666;color:#FFFFFF}
FONT.D1-100-T{color:#666666}
FONT.D1-103-S{background-color:#0033ff;color:#FFFFFF}
FONT.D1-103-T{color:#0033ff}
FONT.D1-104-S{background-color:#666666;color:#FFFFFF}
FONT.D1-104-T{color:#666666}
FONT.D1-107-S{background-color:#666666;color:#FFFFFF}
FONT.D1-107-T{color:#666666}
FONT.D1-109-S{background-color:#666666;color:#FFFFFF}
FONT.D1-109-T{color:#666666}
FONT.D1-110-S{background-color:#666666;color:#FFFFFF}
FONT.D1-110-T{color:#666666}
FONT.D1-114-S{background-color:#666666;color:#FFFFFF}
FONT.D1-114-T{color:#666666}
FONT.D1-115-S{background-color:#666666;color:#FFFFFF}
FONT.D1-115-T{color:#666666}
FONT.D1-116-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-116-T{color:#0099ff}
FONT.D1-117-S{background-color:#0099ff;color:#FFFFFF}
FONT.D1-117-T{color:#0099ff}
FONT.D1-118-S{background-color:#666666;color:#FFFFFF}
FONT.D1-118-T{color:#666666}
FONT.D1-119-S{background-color:#666666;color:#FFFFFF}
FONT.D1-119-T{color:#666666}
FONT.D1-120-S{background-color:#666666;color:#FFFFFF}
FONT.D1-120-T{color:#666666}
FONT.D1-121-S{background-color:#666666;color:#FFFFFF}
FONT.D1-121-T{color:#666666}
FONT.POLAR1-42-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR1-42-T{color:#666666}
FONT.POLAR1-63-S{background-color:#999999;color:#000000}
FONT.POLAR1-63-T{color:#999999}
FONT.POLAR1-66-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-66-T{color:#6600cc}
FONT.POLAR1-68-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR1-68-T{color:#0033ff}
FONT.POLAR1-69-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR1-69-T{color:#0033ff}
FONT.POLAR1-72-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-72-T{color:#6600cc}
FONT.POLAR1-75-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR1-75-T{color:#cc0000}
FONT.POLAR1-78-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-78-T{color:#6600cc}
FONT.POLAR1-81-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-81-T{color:#6600cc}
FONT.POLAR1-82-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR1-82-T{color:#cc0000}
FONT.POLAR1-83-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-83-T{color:#6600cc}
FONT.POLAR1-84-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-84-T{color:#6600cc}
FONT.POLAR1-88-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR1-88-T{color:#666666}
FONT.POLAR1-90-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-90-T{color:#6600cc}
FONT.POLAR1-98-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-98-T{color:#6600cc}
FONT.POLAR1-100-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR1-100-T{color:#0033ff}
FONT.POLAR1-101-S{background-color:#0033ff;color:#FFFFFF}
FONT.POLAR1-101-T{color:#0033ff}
FONT.POLAR1-104-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-104-T{color:#6600cc}
FONT.POLAR1-107-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR1-107-T{color:#cc0000}
FONT.POLAR1-110-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-110-T{color:#6600cc}
FONT.POLAR1-113-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-113-T{color:#6600cc}
FONT.POLAR1-114-S{background-color:#cc0000;color:#FFFFFF}
FONT.POLAR1-114-T{color:#cc0000}
FONT.POLAR1-115-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-115-T{color:#6600cc}
FONT.POLAR1-116-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-116-T{color:#6600cc}
FONT.POLAR1-120-S{background-color:#666666;color:#FFFFFF}
FONT.POLAR1-120-T{color:#666666}
FONT.POLAR1-122-S{background-color:#6600cc;color:#FFFFFF}
FONT.POLAR1-122-T{color:#6600cc}
FONT.CYS-42-S{background-color:#666666;color:#FFFFFF}
FONT.CYS-42-T{color:#666666}
FONT.CYS-63-S{background-color:#999999;color:#000000}
FONT.CYS-63-T{color:#999999}
FONT.CYS-67-S{background-color:#ffff00;color:#000000}
FONT.CYS-67-T{color:#ffff00}
FONT.CYS-88-S{background-color:#666666;color:#FFFFFF}
FONT.CYS-88-T{color:#666666}
FONT.CYS-99-S{background-color:#ffff00;color:#000000}
FONT.CYS-99-T{color:#ffff00}
FONT.CYS-120-S{background-color:#666666;color:#FFFFFF}
FONT.CYS-120-T{color:#666666}



